body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 480px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.page-header__logo {
  margin-right: 93px;
}

.logo {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__second-part {
  color: #000000;
}

/* ---------Navigation-------- */
.main-nav {
  display: flex;
  align-items: center;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
@media screen and (min-width: 768px) {
  .page-header__container {
    height: 80px;
    justify-content: flex-start;
  }
}

.site-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    column-gap: 50px;
  }
}

.site-nav__link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

.site-nav__link--current {
  color: #2196f3;
}

.site-nav__link--current {
  position: relative;
}
.site-nav__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: #2196f3;
}

.auth-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .auth-nav {
    display: flex;
    margin-left: auto;
    column-gap: 50px;
    flex-direction: column;
    row-gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav {
    flex-direction: row;
  }
}

.auth-nav__link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav__link:hover, .auth-nav__link:focus {
  color: #2196f3;
  fill: currentColor;
}

.auth-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero-section {
  padding-top: 118px;
  padding-bottom: 118px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #2f303a;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-img-mob.jpg);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/header-img-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-img-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-img-tablet-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero-section {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-img-desktop.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-img-desktop-2x.jpg);
  }
}

.section-hero__title {
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section-hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.section-hero__button {
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  padding: 10px 32px;
  display: inline-block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-hero__button:hover, .section-hero__button:focus {
  background-color: #188ce8;
}

.feature-list {
  display: flex;
  column-gap: 30px;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .feature-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .feature-list {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .feature-list__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}

.feature-list__title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .feature-list__title {
    text-align: start;
  }
}

.feature-list__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  height: 120px;
}

.feature-list__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.work-section {
  display: none;
  padding-top: 0;
}
@media screen and (min-width: 1200px) {
  .work-section {
    display: block;
  }
}

.work-list {
  display: flex;
  column-gap: 30px;
}

.work-title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.work-list__item {
  position: relative;
}

.work-list__name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 27px 80px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team-section {
  background-color: #f5f4fa;
}

.team-section__list {
  display: flex;
  gap: 30px;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .team-section__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team-section__list {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.team-section__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team-section__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}

.team-section__info-block {
  padding-top: 30px;
  padding-bottom: 16px;
  background-color: #ffffff;
}

.team-section__picture {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .team-section__picture {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team-section__picture {
    width: 270px;
  }
}

.team-section__title {
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team-section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.team-section__info-title {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 10px;
}

.team-section__info-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #757575;
}

.soc-list {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  column-gap: 10px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .soc-list {
    padding-bottom: 30px;
  }
}

.soc-list__item {
  flex-basis: calc(100% - 40px)/4;
}

.soc-list__link {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-list__link:hover,
.soc-list__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.clients-section__list {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .clients-section__list {
    flex-wrap: nowrap;
  }
}

.clients-section__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients-section__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-section__item {
    flex-basis: calc((100% - 30px) / 6);
  }
}
.clients-section__item:hover, .clients-section__item:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

.clients-section__title {
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients-section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.clients-section__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  fill: #afb1b8;
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-section__link:hover, .clients-section__link:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

.clients-section__icon {
  width: 106px;
  height: 60px;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer-logo {
    display: block;
    margin-right: 70px;
  }
}

.footer-logo__first {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  display: inline-block;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer-logo__first {
    font-size: 26px;
    line-height: 1.19;
  }
}

.footer-logo__second {
  color: #ffffff;
}

footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

footer .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 60px;
}
@media screen and (min-width: 768px) {
  footer .container {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 135px;
  }
}
@media screen and (min-width: 1200px) {
  footer .container {
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 0px;
  }
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer-list {
    display: block;
  }
}

.footer-list__address {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.footer-list__link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list__link:hover, .footer-list__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .footer-soc-link {
    margin-right: 93px;
  }
}

.footer-soc-link__title {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-soc-link__title {
    margin-top: 12px;
    text-align: start;
  }
}

.footer-soc-link__list {
  display: flex;
  column-gap: 10px;
}

.footer-soc-link__item {
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link__item:hover, .footer-soc-link__item:hover {
  background-color: #2196f3;
}

.footer-soc-link__icon {
  fill: #ffffff;
  display: block;
}

.form-subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .form-subscription {
    display: block;
  }
}

.form-subscription__title {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .form-subscription__title {
    margin-top: 12px;
  }
}

.form-subscription__email {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .form-subscription__email {
    flex-direction: row;
    align-items: stretch;
    gap: 0px;
  }
}

.form-subscription__input {
  color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: #2f303a;
  padding-left: 16px;
  outline: none;
  transition-property: box-shadow, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .form-subscription__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .form-subscription__input {
    margin-right: 12px;
    width: 358px;
  }
}
.form-subscription__input:hover, .form-subscription__input:focus {
  border-color: #2196f3;
}

.form-subscription__btn {
  display: flex;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-subscription__btn:hover, .form-subscription__btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-subscription__btn-icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms linear;
  width: 450px;
  height: 609px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -100%);
}

.modal-close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border: 1px solid #757575;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover, .modal-close-btn:focus {
  fill: #188ce8;
}

.backdrop-close-icon {
  display: block;
  left: 0px;
  top: 0px;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  padding-top: 2px;
  padding-bottom: 12px;
}

.modal-input {
  width: 370px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding-left: 42px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .modal-input {
    width: 448px;
  }
}
.modal-input:focus {
  border-color: #2196f3;
}
.modal-input:focus + .form-icon {
  fill: #2196f3;
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: 0;
  margin-top: 30px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover, .modal-btn:focus {
  background-color: #188ce8;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field:not(:last-of-type) {
  margin-bottom: 10px;
}

.form-field:last-of-type {
  margin-bottom: 20px;
}

.form-input-group {
  position: relative;
}

.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea {
  width: 370px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: rgba(117, 117, 117, 0.5);
  padding: 12px 16px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  cursor: pointer;
  outline: none;
}
@media screen and (min-width: 1200px) {
  .form-textarea {
    width: 448px;
  }
}
.form-textarea:focus {
  border: 1px solid #2196f3;
}
.form-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-text {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .checkbox-text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox-link {
  color: #2196f3;
  text-decoration: underline;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox:checked + .icon {
  border-color: #2196f3;
  background-color: #2196f3;
}

.icon {
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
}

.label-field {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-section__list {
  margin-bottom: 40px;
  display: flex;
  column-gap: 8px;
  row-gap: 15px;
  flex-wrap: wrap;
  justify-content: flex-start;
}
@media screen and (min-width: 768px) {
  .filter-section__list {
    margin-bottom: 30px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .filter-section__list {
    margin-bottom: 50px;
  }
}

.filter-section__button {
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  font-family: inherit;
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-section__button:hover, .filter-section__button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-section__button--active {
  color: #ffffff;
  background-color: #2196f3;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-picture {
  width: 100%;
  height: 294px;
}
@media screen and (min-width: 768px) {
  .project-picture {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .project-picture {
    width: 370px;
  }
}

.project-list__item {
  display: flex;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .project-list__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .project-list__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
.project-list__item:hover, .project-list__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-list__item:nth-child(3n) {
  margin-right: 0;
}
.project-list__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.project-list__item:hover .project-list__picture-overlay {
  transform: translateY(0);
}

.project-list__item-link {
  display: flex;
  flex-direction: column;
}

.project-list__info-block {
  border: 1px solid #eeeeee;
  border-top-color: transparent;
  padding: 20px 24px;
  flex-grow: 1;
}

.project-list__info-name {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project-list__info-description {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
}

.project-list__picture-block {
  position: relative;
  overflow: hidden;
}

.project-list__picture-overlay {
  position: absolute;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
}

.project-list__text-overlay {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
}

.page-header__menu-open-btn {
  all: unset;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 768px) {
  .page-header__menu-open-btn {
    display: none;
  }
}
.page-header__menu-open-btn:hover, .page-header__menu-open-btn:focus {
  fill: #2196f3;
}

.page-header__close-btn {
  all: unset;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .page-header__close-btn {
    display: none;
  }
}
.page-header__close-btn:hover, .page-header__close-btn:focus {
  fill: #2196f3;
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  padding-top: 10px;
  padding-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}
.mob-menu .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow-y: auto;
  padding-left: 40px;
}

.mob-menu__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mob-menu__link {
  color: #212121;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu__link:hover, .mob-menu__link:focus {
  color: #2196f3;
}

.mob-menu__link--current {
  color: #2196f3;
}

.mob-menu__contacts-list {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  margin-bottom: 64px;
}

.mob-menu__contact-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-menu__contact-email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-menu__soc-list {
  display: flex;
  gap: 10px;
}

.mob-menu__soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-menu__soc-separator {
  color: rgba(33, 33, 33, 0.2);
}/*# sourceMappingURL=main.css.map */