.feature-list {
  display: flex;
  column-gap: 30px;
  flex-direction: column;
  gap: 30px;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include desktop {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.feature-list__item {
  @include tablet {
    flex-basis: calc((100% - 30px) / 2);
  }
}

.feature-list__title {
  color: $title-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;

  @include tablet {
    text-align: start;
  }
}

.feature-list__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $team-title-bg-color;
  border-radius: 4px;
  margin-bottom: 30px;
  height: 120px;
}

.feature-list__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
