.feature-list {
  display: flex;
}

.feature-list__item:not(:last-child) {
  margin-right: 30px;
}

.feature-list__title {
  color: $title-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feature-list__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $team-title-bg-color;
  border-radius: 4px;
  margin-bottom: 30px;
  height: 120px;
}

.feature-list__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
