.page-header__logo {
  margin-right: 93px;
}

.logo {
  color: $accent-color;
  font-family: $logo-font-family;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo__second-part {
  color: $tertiary-title-text-color;
}
